body{
   font-family: 'Poppins', sans-serif;
   overflow-x: hidden !important;
}

a{
   text-decoration: none !important;
}

h1{
   width: 100%;
   text-align: center;
   color: #e07924;
   font-weight: 600;
   text-transform: uppercase;
}

input{
   width: 100%;
   padding: .5rem 0;
   border-radius: 0.3rem;
   outline: none;
   padding: .6rem 1rem;
   box-shadow: none;
   transition: box-shadow 0.5s ease;
   border: none;
   border: 2px solid #23394d;
   transition: all 0.5s ease;
}

input:focus{
   border: 2px solid #e07924;
}

.btn-hero{
   border: none;
   outline: none;
   color: #e07924;
   font-weight: 600;
   margin: 1rem 0;
   padding: .5rem 2rem;
   background: #23394d;
   border-radius: .9rem;
   text-transform: capitalize;
   transition: all 0.5s ease;
}

.btn-hero:hover{
   background: #e07924;
   color: #23394d;
}
.wrapper{
   padding: 4.5rem 2rem 2rem;
   height: auto !important;
}


